.article-preview {
  display: flex;
  align-items: stretch;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 20px;
  border-radius: 8px;
  overflow: hidden;

  .image-section {
    flex: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      margin-bottom: 10px;
      color: var(--dark-blue);
    }

    p {
      color: var(--light-blue);
      margin-bottom: 20px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 10px;
        color: var(--dark-blue);
        &:before {
          content: "•";
          color: var(--orange);
          font-size: 20px;
          line-height: 0px;
          margin-right: 10px;
          vertical-align: middle;
        }
      }
    }
  }
}


  
  