.app-footer {
  background-color: var(--light-gray);
  color: var(--dark-blue);
  text-align: center;
  padding: 20px;
  font-size: 14px;

  .social-links {
    margin-top: 10px;

    .social-link {
      color: var(--dark-blue);
      margin: 0 10px;
      text-decoration: none;

      &:hover {
        color: var(--orange);
      }
    }
  }
}

  